body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

/* START OF NAVIGATION STYLING */
a.logo,.hero-text{
    font-size: 1.5rem;
    color: #f9faf8;

}

a.nav-links,.hero-sub-text{
    font-size: 1.125rem;
    color: #e5e7eb;

    margin: 0;

}

#hero,.nav-bar{
    background-color: #1f2937;
    height: 500px;

    display:flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar{
    height: 60px;

    display: flex;
    justify-content: space-around;

    align-items: center;

    margin: 0;
    padding: 0;
}


.navigation-links{
    list-style-type: none;
    display: flex;

    margin: 0px;
    padding: 0px;
    gap: 16px;
}
/* END OF NAVIGATION STYLING */


/* START OF HERO SECTION STYLING */
.hero-card{
    display:flex;
    align-items:center;
    gap:72px;

}

.hero-message{
    width: 445px;
    height: 288px;
    
    display:flex;
    flex-wrap:wrap;
}


.hero-text{
    font-size: 3rem;
    font-weight: 900;

    margin:0px;
    display:flex;
    align-items: center;
}

.sign-up-btn{
    font-size: 1.2rem;
    color: #f9faf8;
    font-weight: 700;
    background-color: #3882f6;
    width: 140px;

    border-radius: 15px;
    border-color: #3882f6;
}
/* END OF HERO SECTION STYLING */
