/* START OF PAGE STYLING */
body{
    font-family: 'Onest',sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

/* START OF NAVIGATION STYLING */
a.logo,.hero-text{
    font-size: 1.5rem;
    color: hsl(138,24%,19%);


}

a.nav-links,.hero-sub-text{
    font-size: 1.125rem;
    color: hsl(137, 41%, 31%)
}

#hero{
    background-color: hsl(57, 91%, 91%);
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar{
    background-color: #EBFDD4;
    

    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navigation-links{
    list-style-type: none;
    display: flex;
    gap: 32px;
    
    margin: 0px;
    padding: 0px;


}
/* END OF NAVIGATION STYLING */


/* START OF HERO SECTION STYLING */
.hero-message{
    display: flex;
    align-items: center;
    gap: 72px;
}

.hero-card{
    width: 445px;
    height: 288px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 0px;
    gap: 8px
}

.hero-text{
    font-size: 3rem;
    font-weight: 900;
    margin: 0px;
}

.meow-btn{
    font-size: 1.2rem;
    font-weight: 700;

    width: 150px;
    height: 40px;
    border-radius: 15px;

    color: #f9faf8;
    background-color: hsl(140, 52%, 55%);
    border-color: hsl(138,24%,19%);
}
/* END OF HERO SECTION STYLING */


/* START OF INFORMATION STYLING */
#information{
    height: 500px;
    background-color: hsl(140, 52%, 55%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 48px;
}

.information-header{
    font-size: 2.25rem;
    font-weight: 900;
    color: #253D2C;


    margin: 0px;
}

.information-cards{
    height: auto;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 48px;
}

.card{
    width: 212px;
    margin: 3px;
    padding: 0;
    margin: 0;
}

.info-image{
    border-radius: 15px;
    border: 6px solid hsl(57, 91%, 91%);

}

.information-text{
    font-size: 1.125rem;
    text-align: center;
    color: #253D2C;
    margin: 0px;
    margin-top: 8px;
}
/* END OF INFORMATION SECTION STYLING*/


/* START OF QUOTE SECTION STYLING*/
#quote{
    height: 400px;
    
    background-color: #D4DE95;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container{
    width: 1072px;
}

.quote-text{
    font-family: fantasy;
    font-size: 3rem;
    font-style: oblique;
    margin: 0px;
    margin-bottom: 8px;
}

.quote-reference{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75rem;
    margin: 0px;
    justify-self: flex-end;
}
/* END OF QUOTE SECTION STYLING*/


/* START OF CTA  STYLING*/
#cta{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #84A903;
}

.cta-box{
    background-color:#A98403 ;
    width: 1072px;
    height: 125px;    
    
    border-radius: 40px;
    border: 6px solid #956303;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cta-message{
    margin: 0;
    margin-left: 8px;
}

.cta-header{
    color: #F2F0EF;
    font-size: 2.5rem;
    margin: 0;
}

.cta-sub-text{
    color: #C9C8C7;
    font-size: 1.25rem;
    margin: 0;
}
/* END OF FOOTER SECTION STYLING*/

/* START OF FOOTER SECTION STYLING*/
#spml-footer{
    height: 32px;
    background-color: #3E6102;
    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: #BAC095;
    margin:0px;
}
/* END OF FOOTER STYLING */

/* END OF PAGE STYLING */